h1 {
    text-align: center;
    color: deepskyblue;
    text-shadow: 2px 2px 2px #000000;
}

p {
    text-align: center;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-image: url("../images/alps.jpg"); /* "../" steps out of the css folder and back into the main folder so we can select the images folder */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
}
